<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body><nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">

                    <li><a href="{% url 'register_user' %}">sign up</a></li>
                    <li><a href="{% url 'login' %}">sign in</a></li>

                </ul>

            </li></li>
            <li><a href="#">Page 2</a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div class="container">
</div>
<div class="col-md-8 col-md-offset-2 well">
<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Manufacturer
        </th>
        <th>
            Price
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
        <tr>
            <td> {{ item.name }} </td>
            <td> {{ item.description }}</td>
            <td> {{ item.manufacturer }}</td>
            <td> {{ item.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% if request.user.is_anonymous %}
    Nothing here:)
{% else %}
    <div class="container">
    </div>
    <div class="col-md-6 col-md-offset-5" style="padding-top:10%;">
        <a href="{% url 'add_chocolate' %}">
            <button class="btn btn-primary">Add a chocolate</button>
        </a>
    </div>
{% endif %}
</body>
</html>